<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listas</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="(tech, index) in liguagens_programacao">{{ tech }} - {{ index }}</li>
        </ul>

        <div v-for="aluno in alunos">
            <p>{{aluno.id}} // {{aluno.nome}} // {{aluno.status}}</p>
        </div>
    </div>

    <script>
        new Vue({
            el: '#app',
            data(){
                return{
                    liguagens_programacao: ['Python', 'Java', 'Php', 'Javascript', 'VueJs'],
                    alunos: [
                        {id: 1, nome:'Ivan', status:'formado'},
                        {id: 2, nome:'João', status:'formado'},
                        {id: 3, nome:'Pedro', status:'cursando'},
                    ]
                }
            }
        })
    </script>
</body>
</html>